@inject IJSRuntime JS

<div
    class="relative lg:max-w-[600px] max-w-[350px] md:w-[400px] h-[400px] md:h-[630px] overflow-x-hidden
    flex-grow flex flex-col border border-white/10 rounded-lg bg-[#222222] overflow-clip">

    @* Loading animation *@
    @if (_isLoading)
    {
        <div class="absolute inset-0 place-self-center z-50 flex items-center justify-center ">
            <div role="status"
                 class="h-8 w-8 animate-spin rounded-full border-2 border-white border-r-transparent
                        motion-reduce:animate-[spin_0.2s_infinite]" />
        </div>
    }


    <div class="w-full h-14 p-4 flex items-center justify-between border-b border-white/10">
        <div class="flex gap-2 items-center">
            <img src="@Config.LogoPath" alt="Logo" class="h-6 w-6"/>
            <h1 class="text-lg text-white">@Config.Title</h1>
        </div>

        <div class="flex gap-2">

            @if (!Config.IsReadOnly)
            {
                <button class="flex items-center hover:opacity-70 hover:bg-gray-100/10 p-1.5 rounded-lg"
                        onclick="@PasteTextToArea">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                         stroke="#FFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2"/>
                        <path d="M9 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z"/>
                    </svg>
                </button>
            }

            <button class="flex items-center hover:opacity-70 hover:bg-gray-100/10 p-[6px] rounded-lg"
                    onclick="@CopyTextToClipboard">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" fill="none"
                     stroke="#FFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M7 7m0 2.667a2.667 2.667 0 0 1 2.667 -2.667h8.666a2.667 2.667 0 0 1 2.667 
                        2.667v8.666a2.667 2.667 0 0 1 -2.667 2.667h-8.666a2.667 2.667 0 0 1 -2.667 -2.667z"/>
                    <path d="M4.012 16.737a2.005 2.005 0 0 1 -1.012 -1.737v-10c0 -1.1 .9 -2 2
                        -2h10c.75 0 1.158 .385 1.5 1"/>
                </svg>
            </button>

        </div>

    </div>

    <div class="flex-1 flex overflow-hidden">
        @if (Config.IsReadOnly)
        {
            <div class="h-full w-full flex p-2 pr-0">
                <pre class="w-full h-full p-0 m-0">
                    <code
                        class="language-typescript bg-transparent h-full text-md 
                            whitespace-pre">@Text</code>
                </pre>
            </div>
        }
        else
        {
            <textarea class="w-full h-full p-2 bg-transparent text-white/90 main-font text-md 
                resize-none focus:outline-none" id="inputeditor"
                      spellcheck="false"
                      autocapitalize="off"
                      autocomplete="off"
                      autocorrect="off"
                      readonly="@Config.IsReadOnly"
                      @bind="Text"
                      @bind:event="oninput"
                      onchange="@OnTextAreaChange"
            ></textarea>
        }
    </div>

    <div class="flex items-center p-4 border-t border-white/10 h-10 w-full bg-[#1a1a1a]">
        <span class="text-xs text-white/40"> @($"{Text?.Split("\n").Length ?? 0} Lines") -
            @($"{Text?.Length ?? 0} characters")</span>
    </div>

</div>

<script>

    async function copyText(text) {
        await navigator.clipboard.writeText(text)
    }

    async function pasteText() {
        try {
            return await navigator.clipboard.readText();
        } catch (e) {
            console.error("Clipboard read failed", e);
            return "";
        }
    }

</script>

@code {

    [Parameter] public string Text { get; set; } = "";
    [Parameter] public required EditorConfig Config { get; set; }
    [Parameter] public EventCallback<string> OnChange { get; set; }

    bool _isLoading;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _isLoading = false;
        StateHasChanged();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!string.IsNullOrEmpty(Text))
            await JS.InvokeVoidAsync("highlightCodeBlocks");
    }

    private async Task OnTextAreaChange(ChangeEventArgs e)
    {
        if (!Config.IsReadOnly)
            await OnChange.InvokeAsync(e.Value?.ToString());

        StateHasChanged();
    }

    public Task ShowLoading(bool isLoading)
    {
        _isLoading = isLoading;
        return InvokeAsync(StateHasChanged);
    }

    private async Task CopyTextToClipboard()
    {
        await JS.InvokeVoidAsync("copyText", Text);
    }

    private async Task PasteTextToArea()
    {
        var result = await JS.InvokeAsync<string>("pasteText");
        Text = result;
        await OnChange.InvokeAsync(result);
        StateHasChanged();
    }

}