@page "/"
@using Exceptions
@using Parser
@using Web.Components.Editor
@using Web.Components.FormatConfiguration
@using Web.Components.modals

<PageTitle>C#TSDTOConvert</PageTitle>

<div class="w-full h-full flex justify-center gap-4">

    <section class="flex flex-row flex-wrap w-full">

        @* Containers *@
        <div class="flex flex-row flex-wrap gap-4 flex-grow justify-center w-full p-6">

            @* User Input Container *@
            <Editor Config="@(new EditorConfig(false, "CSharp", csIcon))" OnChange="@OnInputChange"/>
            @* Parsed  output *@
            <Editor @key="_output" Config="@(new EditorConfig(true, "Typescript", tsIcon))" Text="@_output"/>

            <FormatConfigurationContainer/>
        </div>

        @* Parse Button *@
        <div class="flex w-full items-center justify-center py-3">
            <button class="flex gap-3 bg-blue-700 text-white rounded-md py-3 px-4 hover:opacity-65"
                    onclick="@ConvertButtonClicked">
                Parse
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M5 12l14 0"/>
                    <path d="M15 16l4 -4"/>
                    <path d="M15 8l4 4"/>
                </svg>
            </button>
        </div>

        <div class="@(_showError
                        ? "flex opacity-100 translate-x-0"
                        : "flex opacity-0 translate-x-full"
                    ) transition-all duration-300 absolute top-10 right-10">
            <ErrorModal Message="@_errorMessage" Title="@_errorTitle" HasError="@_showError"/>
        </div>

    </section>

</div>

@code {

    string _input = string.Empty;
    string _output = string.Empty;
    
    string? _errorTitle;
    string? _errorMessage;
    
    bool _showError;

    private CancellationTokenSource? _parseCt;
    private CancellationTokenSource? _errorCt;

    const string tsIcon = "svg/TS.svg";
    const string csIcon = "svg/CSharp.svg";

    readonly ParseService _parseServiceService = new();

    private Task OnInputChange(string text)
    {
        _input = text;
        return Task.CompletedTask;
    }

    private async Task ConvertButtonClicked() => await ParseText();

    private async Task ParseText()
    {
        _parseCt?.Cancel();
        _parseCt?.Dispose();
        _parseCt = new();

        try
        {
            var result = await _parseServiceService.Parse(_input, new Config(), _parseCt.Token);
            _output = result.Output;
        }
        catch (SyntaxErrorException e)
        {
            await ShowError("Syntax Error", e.Message);
        }
        catch (ParseServiceException e)
        {
            await ShowError("Parsing Error", e.Message);
        }
        catch (OperationCanceledException)
        {
        }
        finally
        {
            StateHasChanged();
        }
    }

    private async Task ShowError(string title, string? message, int delay = 4000)
    {
        _errorTitle = title;
        _errorMessage = message;
        _showError = true;
        StateHasChanged();

        _errorCt?.Cancel();
        _errorCt?.Dispose();
        _errorCt = new();

        try
        {
            await Task.Delay(delay, _errorCt.Token);
            
            _showError = false;
            StateHasChanged();
        }
        catch (OperationCanceledException)
        {
        }
    }

}

