@page "/"
@using Parser
@using Web.Components.Editor
@using Web.Components.FormatOptions
@using Web.Components.TextContainer
@inject IJSRuntime JSRuntime


<PageTitle>Home</PageTitle>

<div class="w-full h-full flex justify-center gap-4">

    <section class="flex flex-row flex-wrap w-full">

        @* Containers *@
        <div class="flex flex-row flex-wrap gap-4 flex-grow justify-center w-full p-6">
            @* User Input Container *@
            <Editor Config="@(new EditorConfig(false, "CSharp", "/svg/CSharp.svg"))" OnChange="@OnInputChange"/>
            @* Parsed  output *@
            <Editor @key="output" Config="@(new EditorConfig(true, "Typescript", "/svg/TS.svg"))" Text="@output"/>
            
            <FormatOptionsContainer/>
        </div>

        @* Parse Button *@
        <div class="flex w-full items-center justify-center py-6">
            <button class="flex gap-3 bg-blue-700 text-white rounded-md py-3 px-4 hover:opacity-65"
                    onclick="@ConvertButtonClicked">
                Parse
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M5 12l14 0"/><path d="M15 16l4 -4"/>
                    <path d="M15 8l4 4"/>
                </svg>
            </button>
        </div>
        
    </section>
    
</div>

@code {

    string input;
    string output;

    readonly ParseService _parseServiceService = new();

    private void OnInputChange(string text)
    {
        if (string.IsNullOrWhiteSpace(text))
            return;      
        
        input = text;
    }

    private void ConvertButtonClicked()
    {
        ParseText();
    }

    private void ParseText()
    {
        var temp = input;
        
        try
        {
            var errors = SyntaxHelper.GetSyntaxErrors(input);
            if (errors.Count > 0)
            {
                var tempb = errors.Aggregate("", (current, error) => current + error + "\n");
                output = tempb;
                return;
            }
            
            output = _parseServiceService.ParseText(input,new Config("typescript"));
            StateHasChanged();
        }
        catch (Exception e)
        {
            input = temp;
            output = e.Message;
        }
        finally
        {
            StateHasChanged();
        }
    }
}

