@page "/"
@using Parser
@using Web.Components.Editor
@using Web.Components.FormatConfiguration

<PageTitle>C#2TS</PageTitle>

<div class="w-full h-full flex justify-center gap-4">

    <section class="flex flex-row flex-wrap w-full">

        @* Containers *@
        <div class="flex flex-row flex-wrap gap-4 flex-grow justify-center w-full p-6">
            @* User Input Container *@
            <Editor Config="@(new EditorConfig(false, "CSharp", csIcon))" OnChange="@OnInputChange"/>
            @* Parsed  output *@
            <Editor @key="output" Config="@(new EditorConfig(true, "Typescript", tsIcon))" Text="@output"/>

            <FormatConfigurationContainer/>
        </div>

        @* Parse Button *@
        <div class="flex w-full items-center justify-center py-3">
            <button class="flex gap-3 bg-blue-700 text-white rounded-md py-3 px-4 hover:opacity-65"
                    onclick="@ConvertButtonClicked">
                Parse
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M5 12l14 0"/>
                    <path d="M15 16l4 -4"/>
                    <path d="M15 8l4 4"/>
                </svg>
            </button>
        </div>

    </section>

</div>

@code {

    string input;
    string output;

    const string tsIcon = "/svg/TS.svg";
    const string csIcon = "/svg/CSharp.svg";

    readonly ParseService _parseServiceService = new();

    private Task OnInputChange(string text)
    {
        input = text;
        return Task.CompletedTask;
    }

    private void ConvertButtonClicked()
    {
        ParseText();
    }

    private async Task ParseText()
    {
        var temp = input;

        try
        {
            var errors = SyntaxHelper.GetSyntaxErrors(input);
            if (errors.Count > 0)
            {
                output = errors.Aggregate("", (current, error) => current + error + "\n");
                return;
            }

            output = await _parseServiceService.ParseText(input, new Config());
            StateHasChanged();
        }
        catch (Exception e)
        {
            input = temp;
            output = e.Message;
        }
        finally
        {
            StateHasChanged();
        }
    }

}

