@using Web.wwwroot.svg
@typeparam T

<link href="css/dropdown.css" rel="stylesheet" />


<div class="block relative text-sm w-full lg:min-w-[140px]">
    
    <h2 class="text-white/60 py-1 ">@Title</h2>
    
    <div class="block border border-white/10 rounded-lg bg-[#1a1a1a] overflow-y-scroll">
        
        <button class="flex flex-row justify-between px-3 items-center w-full h-10" @onclick="ToggleDropdown">
            <h3 class="text-white px-2">@Options[currentIndex].Value</h3>
            <div class="transition-transform duration-200 @(IsOpen ? "rotate-45" : "rotate-0")">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                     stroke="#fff" stroke-width="2"
                     stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14"/><path d="M5 12l14 0"/>
                </svg>
            </div>
        </button>
        
    </div>
    
    <div class="absolute left-0 @(IsOpen ? "border" : "") mt-1 rounded-lg bg-[#1a1a1a] w-full
            overflow-hidden ease-in-out border-white/10 z-50"
         style="max-height: @(IsOpen ? "120px" : "0px")">
        @foreach (var option in Options.Where(c => c.Index != currentIndex))
        {
            <button class="flex flex-row items-center w-full h-10 hover:bg-gray-100/10"
                    @onclick="()=> OnOptionSelected(option)">
                <h3 class="text-white px-2 text-md">@option.Value</h3>
            </button>
        }
    </div>

   
</div>


@code {
    
    [Parameter] public string Title { get; set; } = string.Empty;
    [Parameter] public List<DropdownOption<T>> Options { get; set; } = [];
    [Parameter] public EventCallback<DropdownOption<T>> OnValueChange { get; set; }

    private int currentIndex;
    private bool IsOpen;

    private void ToggleDropdown()
    {
        IsOpen = !IsOpen;
    }

    private async void OnOptionSelected(DropdownOption<T> option)
    {
        if (OnValueChange.HasDelegate)
        {
            currentIndex = option.Index;
            await OnValueChange.InvokeAsync(option);
            StateHasChanged();
        }

        IsOpen = false;
    }

}